<form *ngIf="formActive" #projectForm="ngForm" (ngSubmit)="formSubmitted = true;">
	<input type="text" name="name"
	required 
	minlength="2" 
	maxlength="20"
	#name="ngModel"
	[(ngModel)]="newProject.name">

	<div *ngIf="formErrors.name" class="alert alert-danger">
      {{ formErrors.name }}
	</div>

	<input type="text" name="description"
	required 
	minlength="2" 
	maxlength="20"
	#description="ngModel"
	[(ngModel)]="newProject.description">

	<div *ngIf="formErrors.description" class="alert alert-danger">
      {{ formErrors.description }}
	</div>

	<h3 [hidden]="!projectForm.form.valid">Valido</h3>
	<button type="submit" (click)="saveProject()">Guardar</button>
</form>