<form *ngIf="formActive" #projectForm="ngForm">

	<label for="name">Nombre del proyecto: </label>
	<input type="text" name="name"
	required 
	minlength="2" 
	maxlength="20"
	#name="ngModel"
	[(ngModel)]="newProject.name">

	<div *ngIf="formErrors.name" class="alert alert-danger">
      {{ formErrors.name }}
	</div>
	<br>

	<label for="description">Descripción del proyecto: </label>
	<input type="text" name="description"
	required 
	minlength="2" 
	maxlength="30"
	#description="ngModel"
	[(ngModel)]="newProject.description">

	<div *ngIf="formErrors.description" class="alert alert-danger">
      {{ formErrors.description }}
	</div>
	<br>
	<h3 class="success" [hidden]="!projectForm.form.valid">Formulario Correcto!</h3>
	<button type="submit" (click)="saveProject()">Guardar</button>
</form>