<form *ngIf="formActive" #projectForm="ngForm" (ngSubmit)="formSubmitted = true;">
	<input type="text" name="name"
	required 
	minlength="2" 
	maxlength="20"
	#name="ngModel"
	[(ngModel)]="newProject.name">

	<div *ngIf="name.errors && (name.dirty || name.touched)"
	     class="alert alert-danger">
	    <div [hidden]="!name.errors.required">
			El nombre del proyecto es requerido
	    </div>
	    <div [hidden]="!name.errors.minlength">
			El nombre tiene que tener más de 2 caracteres.
	    </div>
	    <div [hidden]="!name.errors.maxlength">
			El nombre no puede ser mayor de 20 caracteres.
	    </div>
	</div>
	<h3 [hidden]="!projectForm.form.valid">Valido</h3>
	<button (click)="saveProject()">Guardar</button>
</form>